devorg/force-app/main/default/flows/TestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>TestReportAboutNewAcc</name>
        <label>TestReportAboutNewAcc</label>
        <locationX>188</locationX>
        <locationY>471</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TestNewAcc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TestNewAcc</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>TestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>TestNewAcc</name>
        <label>TestNewAcc</label>
        <locationX>187</locationX>
        <locationY>222</locationY>
        <connector>
            <targetReference>TestUpdateNewAcc</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>TheNewTestAcc</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordUpdates>
        <name>TestUpdateNewAcc</name>
        <label>TestUpdateNewAcc</label>
        <locationX>187</locationX>
        <locationY>351</locationY>
        <connector>
            <targetReference>TestReportAboutNewAcc</targetReference>
        </connector>
        <filters>
            <field>LastModifiedDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <stringValue>Dnipro</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>TestNewAcc</startElementReference>
    <status>Draft</status>
</Flow>
